<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.data.personal.name }}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/albertine/css/default.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Javascript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript"> $(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});</script>
  <script type="text/javascript"> $(function () { $('[data-toggle="popover"]').popover()});</script>

<script type="text/javascript">$(function () {
$(".imagepop").css("display","none");
$('[rel=popover]').popover({
    html:true,
    placement:'right',
    content:function(){
        return $($(this).data('popwrapper')).html();
    }
});
});
</script>

  <!-- ==================== -->
  <!-- HEADER -->
  <!-- ==================== -->
  <header>
    <div class="container hidden-xs" >
      <div class="row">
        <div class="col-xs-9 col-lg-7 " style="margin-top:6px";>
          <h1 style="font-size:120% ">
            {{ site.data.personal.name }}
          </h1>
          <h2 style="font-size:100% color:#fff" >
            {{ site.data.personal.label }}
          </h2>
        </div>
        <div class="col-xs-3 col-lg-4" style="margin-top:+35px";>
          <a class="btn btn-default btn-xs btn-transparent"   style="font-size:95%"  href="#projects">Projects</a> 
          <a class="btn btn-default btn-xs btn-transparent"  style="font-size:95%" href="#publications">Publications</a> 
          <a class="btn btn-default btn-xs btn-transparent"  style="font-size:95%" href="#presentations">Presentations </a> 
          <a class="btn btn-default btn-xs btn-transparent"  style="font-size:95%" href="#miscellaneous">About</a> 
        </div>

        
        <div class="col-xs-3 col-lg-1" >
          <img src="{{ site.baseurl }}{{ site.data.personal.picture }}" 
               class="img-circle"
               style="margin-top:3px;width:80px;border:0px solid rgba(255,255,255,0.75)">
        </div>

           
      </div>
    </div>
  </header>

  <!-- ==================== -->
  <!-- SECTION -->
  <!-- ==================== -->

  <!-- Bio -->
  <div class="bgimg" id="section-about" > 
    <div class="row">
    <section class="col-md-offset-1 col-md-6" style="margin-top:8%" ;>
        {% if site.data.personal.intro.title %}
          <h3 style="font-size:24px; color:white;background: rgba(0, 0, 0, 0.59)">
            {{ site.data.personal.intro.title }}
          </h3>
        {% else %}
          <h3>
            About
          </h3>
        {% endif %} 
        </span>
        <div id="allwhite" class="lead" align="justify" style="color:white;  background: rgba(0, 0, 0, 0.59)">
        {{ site.data.personal.intro.body | markdownify }} 
        </div>
        </span>
        <p>
        </p>

      </section>

      <!-- Contact -->
      <section class="col-md-offset-1 col-md-3" style="margin-top:8%;" >
        <h3  align="right">Contact</h3>
       <div id="allwhite" class="contact" align="right" style="font-size:16px";>

          <span  link="white">
          <p>
          <a href="mailto:{{ site.data.personal.email  }} " style="color:white">{{ site.data.personal.email  }}</a>
          </p>
          <p style="color:white;">
          {{ site.data.personal.group }}<br>
          {{ site.data.personal.lab }}<br>
          {{ site.data.personal.institution }}<br>

          {{ site.data.personal.mailing_address_1 }}<br>
          {{ site.data.personal.mailing_address_2}}<br>
          </p>
          </span>
          <p>
          </p>
          <p style="font-size: 14px" >
          {% for profile in site.data.personal.profiles %}
            
            {% if profile.network == 'Google Scholar' %}
              <i class="fa fa-google"></i>

            {% elsif profile.network == 'ResearchGate' %}
              <i class="fa fa-flask"></i>

            {% elsif profile.network == 'Impact Story' %}
              <i class="fa fa-share-alt-square" ></i>

            {% elsif profile.network == 'Twitter' %}
              <i class="fa fa-twitter-square"></i>
			
			      {% elsif profile.network == 'Download CV' %}
              <i class="fa fa-arrow-circle-down"></i>

            {% elsif profile.network == 'PhD Dissertation' %}
              <i class="fa fa-arrow-circle-down"></i>
            {% endif %}
            <a href="{{ profile.url }}" target="_blank">
              {{ profile.network }}
            </a>
            {% if forloop.last == false %}
              <br>
            {% endif %}
          {% endfor %}
        </p>
        </div>
      </section>
    </div>
  </div>
  {% if site.data.projects.size > 0 %}
  <!-- ==================== -->
  <!-- PROJECTS -->
  <!-- ==================== -->
  
  <!-- Title - projects -->

   <div align="center" class="sectiontitle" style="background: rgba(0, 0, 0, 0.85);color:white; padding: 0.5% 0% 0.5% 1%">
        <h5 style="font-size:25px" >PROJECTS</h5>
      </div>

      <br>
  <!-- Content - projects -->
   <section class="container" id="projects" style="margin-top:-3%;" >
    <div class="row-fluid" align="justify">
          {% for project in site.data.projects %}
              <div class="col-xs-14 col-sm-6 col-md-4 col-lg-4">
                
                <p>
                <center>
                 <img src="{{ site.baseurl }}{{ project.image }}" class="img-responsive" style="width:45%; border:0px" align="middle">
                </center>
                </p>

				<p id="allwhite" align="center", style="background: #498DC6 ;padding: 2% 2% 2% 2%; border-radius: 4px 4px 4px 4px;">
            		  <b>
            		  {% if project.url %}
                	  <a href="{{ project.url }}" style="font-size:17px;" target="_blank" >
              	      {{ project.name}}
                	  </a>
              		  {% else %}
              		  {{ project.name }}
             		  {% endif %}
                </b>
                </p>


                <p>
                {{ project.description | markdownify }}
                </p>
                <button type="button" class="btn btn-info btn-xs">
                          <i class="fa fa-tag"></i> {{ project.tag }}
                </button>
                      
               </div>
    {% endfor %}
  </section>
  {% endif %}



  <!-- ==================== -->
  <!-- PUBLICATIONS -->
  <!-- ==================== -->
  <div align="center" class="sectiontitle" style="background:#468CC8;color:white; padding: 0.5% 0% 0.5% 1%">
        <h5 style="font-size:25px" >PEER-REVIEWED ARTICLES</h5>
    </div>
 
<div class="container" id="publications">
    <section class="col-md-8 col-lg-12">
        <div class="row " style="margin-right:2%; margin-left: 2%">
             {% for publication in site.data.publications %}
          
          <div class="item">
            {% case publication.type %}
              {% when 'journal' %}
              <!--- ==== Start of one article  -->
              
			<p>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="overflow: hidden">
             
              
              <br>

                <p>

                   <div>
                 <div class="hovereffect">
        	  		<img class="img-responsive" src="{{ site.baseurl }}{{ publication.image }}" alt="" style='border:1px solid #8892A2'>
       			    <div class="overlay">
          				 <h2>Full-text article</h2>
                    <a class="info" href="{{ publication.url }}" target="_blank">Link</a>
                	</div>
                </div>
                </div>

                </p> 
                <p>  
               <p style="text-align: justify"> <small style="color:black;font-weight: bold;">{{ publication.title }}</small>
                <small style="color:black;font-weight: bold;"> [{{ publication.year }}].</small> <br>
                <small>{{ publication.authors }}</small> <br>
                <!-------- Journal -------->
                        <button type="button" class="btn btn-success btn-xs">
                          <i class="fa fa-file-text"></i> {{ publication.journal }}
                        </button><br>
                        <a class="btn btn-primary btn-xs" href="{{ publication.infographics }}" target="_blank">
                        <i class="fa fa-file-image-o"></i> Infographic 
                  		  </a>
               <!-------- TAGS -------->

                            {% if publication.tag %}
                            {% for tag in publication.tag %}
                               <button type="button" class="btn btn-info btn-xs">
                                  <i class="fa fa-tag"></i> {{tag}}
                               </button>
                            {% endfor %}
                            {% endif %}


                </p>
                <!-------- LINKS -------->
                <div class="btn-group" role="group" aria-label="pub_links">
                      <a class="btn btn-default btn-xs" href="{{ publication.url }}" target="_blank">
                        <i class="fa fa-link"></i> Publisher
                      </a>
                      <a class="btn btn-default btn-xs" href="{{ publication.pubmed }}" target="_blank">
                        <i class="fa fa-link"></i> PubMed
                      </a>          
                      <a class="btn btn-default btn-xs" href="{{ publication.pdf }}" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> PDF
                      </a>
                      
                </div>  


                <!-------- ALTMETRICS --------> 
  <div data-badge-popover="bottom" data-badge-type="4" data-link-target='_blank' data-doi="{{ publication.doi }}" data-hide-no-mentions="false" class="altmetric-embed"></div>
 
   <!--------  <div data-badge-popover="bottom" data-badge-type="bar" data-link-target='_blank' data-doi="{{ publication.doi }}" data-hide-no-mentions="true" class="altmetric-embed"></div>-------->
      
             
             </p>
              </div>
              </div>
              <!--- ==== End of one article  -->

             {% endcase %}
       

        {% endfor %}
          
           
       </div>
    </section>
</div>


  <!-- ==================== -->
  <!-- PRESENTATIONS -->
  <!-- ==================== -->
<div align="center" class="sectiontitle" style="background:#468CC8;color:white; padding: 0.5% 0% 0.5% 1%">
        <h5 style="font-size:25px" >PRESENTATIONS AND POSTERS </h5>
</div>


<div class="container" id="presentations">

  <section class="col-md-8 col-lg-12">
     <div class="row " style="margin-right:2%; margin-left: 2%">
             {% for publication in site.data.publications %}
            <div class="li">
            {% case publication.type %}
              {% when 'Poster' %}
              <!--- ==== Start of one article  -->
              

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="overflow: hidden">
             
            
              <br>

              <!-------- TAGS -------->



               <p>
               <div>
                 <div class="hovereffect">
        	  		<img class="img-responsive" src="{{ site.baseurl }}{{ publication.image }}" alt="" style="width:100%;display: block;margin: 0 auto;  border:1px solid #8892A2">
       			    <div class="overlay">
          				 <h2>View it</h2>
                    <a class="info" href="{{ publication.url }}" target="_blank">Link</a>
                	</div>
                </div>
                </div>
               </p> 



                  <p style="text-align: justify"> <small style="color:black;font-weight: bold;">{{ publication.title }}</small>
                    <small style="color:black;font-weight: bold;"> [{{ publication.year }}].</small> <br>
                    <small>{{ publication.authors }}</small> <br>
                    <small style="color:black;">  {{ publication.journal }}</small>
                    
                <!-------- LINKS -------->
                <div class="btn-toolbar" role="group" aria-label="pub_links">
                		<button type="button" class="btn btn-warning btn-xs" style="border-radius: 5px">
                        <i class="fa fa-tag"></i> {{ publication.tag }}
                        </button>
                        
                        <a class="btn btn-default btn-xs" href="{{ publication.url }}" target="_blank" style="border-radius: 5px">
                        <i class="fa fa-link"></i> Link
                        </a>

                        {% if publication.video %}
                        <a class="btn btn-default btn-xs" style="border-radius: 5px" href="{{ publication.video }}" target="_blank">
                        <i class="fa fa-play-circle"></i> Video
                        </a>
                        {% endif %}

                      </p>
                </div>  
                
            </div> 
              <!--- ==== End of one article  -->
        
   
            {% endcase %}
       </div>

        {% endfor %}
          </div>
           
       
  </section>
</div>



  <!-- ==================== -->
  <!-- MISCELLANEOUS -->
  <!-- ==================== -->
  <div align="center" class="sectiontitle" style="background:#468CC8;color:white; padding: 0.5% 0% 0.5% 1%">
        <h5 style="font-size:25px" >MORE ABOUT ME</h5>
    </div>


<div class="container" id="miscellaneous"></div>
 <div align="center" class="sectiontitle" style="background:#4A4C60;color:white; padding: 0.5% 0% 0.5% 1%">
        <h5 style="font-size:25px" >Professionnal background</h5>
    </div>
 

<img src="{{ site.baseurl }}/img/panel_experience_bio.png" style='max-width: 100%;'>

 


 <div align="center" class="sectiontitle" style="background:#666C83;color:white; padding: 0.5% 0% 0.5% 1%">
        <h5 style="font-size:25px" >When I am not doing Science</h5>
    </div>
 

<img src="{{ site.baseurl }}/img/panel_experience_hobby.png" style='max-width: 100%;'>




 <div align="center" class="sectiontitle" style="background:#8992A3;color:white; padding: 0.5% 0% 0.5% 1%">
        <h5 style="font-size:25px" >Funding and Support</h5>
    </div>


<img src="{{ site.baseurl }}/img/panel_experience_funding.png" style='max-width: 100%;'>




  <!-- ==================== -->
  <!-- JAVASCRIPTS -->
  <!-- ==================== -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
 
  
    <script>    
    $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        var customoffset = 75
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top - customoffset
          }, 800);
          return false;
        }
      }
    });
  });
  </script>
  
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65611646-2', 'auto');
  ga('send', 'pageview');

</script>


</html>
